### Shinshi
resources/images/banner.png
secrets/*.example
### Docker
Dockerfile
.dockerignore
### IDEs
.idea
.vscode
.editorconfig
### Github
.github
.git
.gitignore
### Python
__pycache__/
*$py.class
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.pylint
.mypy
