SHINSHI_DISCORD_TOKEN="<fill this>"
SHINSHI_ERRORS_WEBHOOK_ID="<fill this>"

SHINSHI_SENTRY_DSN="<fill this>"

SHINSHI_OPENWEATHERMAP_API_KEY="<fill this>"
SHINSHI_KAWAIIAPI_KEY="<fill this>"
SHINSHI_WAKATIME_API_KEY="<fill this>"
