### Shinshi
docker/data
secrets/*.env
logging/logs
resources/images/icons/**/*.webp
### Environment
*.env
### JetBrains
.idea
### Visual Studio Code
.vscode
### Python
.venv
vevn
__pycache__/
### macOS
*.Thumbs
**/.DS_STORE
