[MASTER]
ignore-paths=docker,logging,resources,secrets

[MESSAGES CONTROL]
disable=missing-docstring,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        invalid-metaclass,  # sometime remove it
        inconsistent-mro,  # this too
        too-few-public-methods,
        too-many-arguments,

[REPORTS]
reports=no

[TYPECHECK]
ignored-modules=shinshi,orjson
