SHINSHI_ENVIRONMENT=<system,docker>

SHINSHI_LOG_FMT='%(asctime)s %(name)-40s %(levelname)-20s %(message)s' <by default, but you can put any formatting you want>
SHINSHI_LOG_LEVEL=<info, debug, warning, critical>
SHINSHI_ASYNCIO_DEBUG=<boolean>
SHINSHI_IS_HIKARI_NETWORK_TRACE_ENABLED=<boolean>

SHINSHI_DISCORD_TOKEN=<fill this>

SHINSHI_ERRORS_WEBHOOK=<fill this>

SHINSHI_KAWAII_API_KEY=<fill this>
SHINSHI_WAKATIME_API_KEY=<fill this>
SHINSHI_OPEN_WEATHER_MAP_API_KEY=<fill this>
