SHINSHI_ENVIRONMENT=<system,docker>

SHINSHI_DISCORD_TOKEN=<fill this>

SHINSHI_ERRORS_WEBHOOK=<fill this>

SHINSHI_KAWAII_API_KEY=<fill this>
SHINSHI_WAKATIME_API_KEY=<fill this>
SHINSHI_OPEN_WEATHER_MAP_API_KEY=<fill this>
